.info{
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.title{
  margin-bottom: 2rem;
}

.subhead{
  margin-bottom: 2rem;
}

 nav li a svg {
  width: var(--font-size);
  height: var(--font-size);
  color: var(--contrast);
}

nav{
  margin-top: 1rem;
}

.pass_alert{
  margin-bottom: 0.5rem;
}
